<a href="https://colab.research.google.com/github/ThushanKalana/machine_learninig_progect/blob/main/notebooks/model_binding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/ThushanKalana/machine_learninig_progect/refs/heads/main/artifacts/sentiment_analysis.csv"

data = pd.read_csv(url)

In [3]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

##Data Preprocessing

In [4]:
data.shape

(7920, 3)

In [5]:
data.duplicated().sum()

np.int64(0)

In [6]:
data.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

###Text Preprocessing

In [7]:
import re
import string

In [11]:
data['tweet'].head(5)

0    #fingerprint #pregnancy test https://goo.gl/h1...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

convert uppercase to lowercase

In [9]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [12]:
data['tweet'].head(5)

0    #fingerprint #pregnancy test https://goo.gl/h1...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

remove links

In [14]:
data['tweet'] = data['tweet'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))

In [15]:
data['tweet'].head(5)

0    #fingerprint #pregnancy test #android #apps #b...
1    finally a transparant silicon case ^^ thanks t...
2    we love this! would you go? #talk #makememorie...
3    i'm wired i know i'm george i was made that wa...
4    what amazing service! apple won't even talk to...
Name: tweet, dtype: object

remove punctuation

In [16]:
def remove_punctuations(text):
  for punctuation in string.punctuation:
    text = text.replace(punctuation, '')
  return text

data['tweet'] = data['tweet'].apply(remove_punctuations)

In [17]:
data['tweet'].head(5)

0    fingerprint pregnancy test android apps beauti...
1    finally a transparant silicon case  thanks to ...
2    we love this would you go talk makememories un...
3    im wired i know im george i was made that way ...
4    what amazing service apple wont even talk to m...
Name: tweet, dtype: object

remove numbers

In [19]:
data['tweet'] = data['tweet'].str.replace(r'\d+', '', regex=True)

In [20]:
data['tweet'].head(5)

0    fingerprint pregnancy test android apps beauti...
1    finally a transparant silicon case  thanks to ...
2    we love this would you go talk makememories un...
3    im wired i know im george i was made that way ...
4    what amazing service apple wont even talk to m...
Name: tweet, dtype: object

remove stopwords

In [21]:
import nltk

In [22]:
nltk.download('stopwords', download_dir='/content/static/model')

[nltk_data] Downloading package stopwords to /content/static/model...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [27]:
!zip -r stopwords.zip /content/static/model/corpora/stopwords

  adding: content/static/model/corpora/stopwords/ (stored 0%)
  adding: content/static/model/corpora/stopwords/finnish (deflated 65%)
  adding: content/static/model/corpora/stopwords/tamil (deflated 76%)
  adding: content/static/model/corpora/stopwords/turkish (deflated 38%)
  adding: content/static/model/corpora/stopwords/norwegian (deflated 49%)
  adding: content/static/model/corpora/stopwords/swedish (deflated 45%)
  adding: content/static/model/corpora/stopwords/hungarian (deflated 51%)
  adding: content/static/model/corpora/stopwords/bengali (deflated 75%)
  adding: content/static/model/corpora/stopwords/hebrew (deflated 66%)
  adding: content/static/model/corpora/stopwords/russian (deflated 58%)
  adding: content/static/model/corpora/stopwords/README (deflated 59%)
  adding: content/static/model/corpora/stopwords/albanian (deflated 50%)
  adding: content/static/model/corpora/stopwords/danish (deflated 43%)
  adding: content/static/model/corpora/stopwords/italian (deflated 62%)
  adding: content/static/model/corpora/stopwords/tajik (deflated 62%)
  adding: content/static/model/corpora/stopwords/basque (deflated 66%)
  adding: content/static/model/corpora/stopwords/arabic (deflated 64%)
  adding: content/static/model/corpora/stopwords/spanish (deflated 65%)
  adding: content/static/model/corpora/stopwords/english (stored 0%)
  adding: content/static/model/corpora/stopwords/portuguese (deflated 61%)
  adding: content/static/model/corpora/stopwords/dutch (deflated 44%)
  adding: content/static/model/corpora/stopwords/kazakh (deflated 70%)
  adding: content/static/model/corpora/stopwords/catalan (deflated 55%)
  adding: content/static/model/corpora/stopwords/german (deflated 61%)
  adding: content/static/model/corpora/stopwords/romanian (deflated 57%)
  adding: content/static/model/corpora/stopwords/azerbaijani (deflated 48%)
  adding: content/static/model/corpora/stopwords/indonesian (deflated 67%)
  adding: content/static/model/corpora/stopwords/chinese (deflated 51%)
  adding: content/static/model/corpora/stopwords/french (deflated 56%)
  adding: content/static/model/corpora/stopwords/slovene (deflated 72%)
  adding: content/static/model/corpora/stopwords/nepali (deflated 71%)
  adding: content/static/model/corpora/stopwords/belarusian (deflated 63%)
  adding: content/static/model/corpora/stopwords/hinglish (deflated 58%)
  adding: content/static/model/corpora/stopwords/greek (deflated 64%)

In [24]:

with open('/content/static/model/corpora/stopwords/english', 'r') as file:
    sw=file.read().splitlines()

In [25]:
sw

[]

In [26]:
print("Total stopwords:", len(sw))

Total stopwords: 0

In [28]:
nltk.download('stopwords', download_dir='/content/static/model')

[nltk_data] Downloading package stopwords to /content/static/model...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [29]:
import nltk.data

In [30]:
nltk.data.path.append('/content/static/model')

from nltk.corpus import stopwords
sw = stopwords.words('english')

In [31]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [32]:
data['tweet']=data['tweet'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))

In [33]:
data['tweet'].head(5)

0    fingerprint pregnancy test android apps beauti...
1    finally transparant silicon case thanks uncle ...
2    love would go talk makememories unplug relax i...
3    im wired know im george made way iphone cute d...
4    amazing service apple wont even talk question ...
Name: tweet, dtype: object

Stemming

In [34]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [35]:
data['tweet']=data['tweet'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [36]:
data['tweet'].head(5)

0    fingerprint pregnanc test android app beauti c...
1    final transpar silicon case thank uncl yay son...
2    love would go talk makememori unplug relax iph...
3    im wire know im georg made way iphon cute dave...
4    amaz servic appl wont even talk question unles...
Name: tweet, dtype: object

In [37]:
data

        id  label                                              tweet
0        1      0  fingerprint pregnanc test android app beauti c...
1        2      0  final transpar silicon case thank uncl yay son...
2        3      0  love would go talk makememori unplug relax iph...
3        4      0  im wire know im georg made way iphon cute dave...
4        5      1  amaz servic appl wont even talk question unles...
...    ...    ...                                                ...
7915  7916      0  live loud lol liveoutloud selfi smile soni mus...
7916  7917      0  would like wish amaz day make everi minut coun...
7917  7918      0  help love year old neighbor ipad morn made rea...
7918  7919      0  final got smart pocket wifi stay connect anyti...
7919  7920      0  appl barcelona appl store bcn barcelona travel...

[7920 rows x 3 columns]